@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@700&display=swap');

:root
{
  --night-base-color: #0f0e0e;
  --night-font-color: #dedede;
  
  --day-base-color: #90bdf7;
  --day-font-color: #3d3838;

  --wth-very-cold-color: #c4dcfc;
  --wth-cold-color: #64a7ff;
  --wth-normal-color: #1168da;
  --wth-hot-color: #dcf5ae;
  --wth-very-hot-color: #eeb61d;
  --wth-sun-color: #fa6464;
}

@keyframes blink
{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

header{
  display: flex;
  justify-content: center;
}

body
{
    background-color: #C6D2FF;
    font-family: 'Cambay', sans-serif;
}

.SearchBar
{
    width: 50vw;
    height: 40px;
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 10px;
    color: black;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 25px;
    padding-left: 30px;
    margin-bottom: 2%;
    text-align: center;
}

main
{
    background-color: rgba(217, 217, 217, 0.4);
    margin-left: 7%;
    margin-right: 7%;   
    border-radius: 10px;
    margin-bottom: 25px;
}

.WeatherCity
{
    padding-left: 1%;
    width: 49%;
    font-size: 40px;
    margin-top: 25px;
    text-align: center;
}

.DaySelector
{
  height: 7vw;
  width: 50%;
  text-align: center;
}

.DaySelector p, i
{
  display: inline-block;
  font-size: 30px;
  margin-top: 25px;
}

.WeatherContent > .StackPanel, .TempDiv
{
    margin-top: 0%;
    display: inline-block;
}

.City-Day{
  display: flex;
}

.TempDiv
{
    text-align: center;
    vertical-align: top;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0%;
    width: 40%;
}

.BigTemp
{
    margin-top: 0;
    color: red;
    font-size: 75px;
    margin-bottom: 0%;
}

.SmallTemp
{
    margin-top: 0%;
    font-size: 45px;
}

.StackPanel{
  width: 48%;
}

.LittlePanel{
  width: 42vw;
  height: 42vw;
  margin-bottom: -19vw;
}

.WeatherInfos-VitesseVent{
  font-size: 1.3vw;
}

.WaterDiv
{
    background-color: rgba(169, 163, 241, 0.35);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.WaterDivTitle
{
    font-size: 34px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.LittlePanel > .MapDiv, .CompassDiv
{
    margin-top: 25px;
    display: inline-block; 
    background-color: rgba(169, 163, 241, 0.35);
    height: 49%;
    width: 49%;
    border-radius: 10px;
}

.MapDiv
{
    background-color: rgba(169, 163, 241, 0.35);
}

.CompassDiv
{
    vertical-align: top;
}

.imgTemps{
  width: 300px;
}

/* When the screen is smaller than 850px wide */ 
@media screen and (max-width: 850px) {
  body{
    font-size: 2.8vw !important;
  }

  .details{
    font-size: 1vw;
  }
  
  .middle-top-text, .middle-bottom-text, .middle-left-text, .middle-right-text {
    padding: 0% 6% 0% 6% !important;
  }

  .FirstHeader {
    font-size: 4vh;
  }

  .SearchCity button {
    font-size: 30px;
    height: 45px;
    margin-bottom: 0.2vh;
  }

  .SearchBar {
    font-size: 35px;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    padding: 0.7vh;
  }

  .dayBar {
    margin-top: -4vh;
  }

  .dayButton {
    width: 12vw;
    height: 5vw;
    font-size: 1.5vw;
    padding: 0;
  }

  .WeatherInfos {
    display:grid;
    width: 100%;
    justify-content: center;
  }

  .slide {
    width: 80vw;
    height: 45vw;
    font-size: 3vw;
  }

  .details{
    font-size: 2vw;
  }

  
  .WeatherInfosDiv p:nth-child(1) {
    width: 60%;
    margin-right: auto; /* Push to the left */
    line-height: 3vw;
    margin: 0.4vw;
  }

  .slide {
    box-shadow: 2vw 3vw 3vw rgba(0, 0, 0, 0.2);
  }

  .slide:hover{
    animation:none;
  }

  
  .TermometerActual {
    font-size: 5vw;
  }

  .DivFlex{
    margin-top: 10px !important;
  }

  .WeatherCity {
    font-size: 8vw;
    width: 100%;
  }

  .WaterDivTitle{
    font-size: 6vw;
  }

  .TempDiv{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .DaySelector {
    width: 100%;
  }

  .BigTemp{
    font-size: 10vw;
    margin-top: 25px;
  }

  .SmallTemp{
    font-size: 6vw;
  }

  .City-Day {
    display: block;
  }

  .DaySelector p, i {
    font-size: 4vw;
  }

  .Temperature-Text{
    flex: 1;
  }

  .imgTemps {
    width: 40%;
    margin-top: 0%;
  }

  .StackPanel{
    width: 100%;
  }

  main{
    height: auto;
  }

  .WaterDiv{
    padding-left: 0%;
    margin-left: 5%;
    width: 90%;
    height: auto;
  }

  .LittlePanel {
    width: 76.5vw;
    height: 76.5vw;
    margin-left: 5%;
  }
}

