@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Ubuntu&display=swap');

:root
{
  --night-base-color: #0f0e0e;
  --night-font-color: #dedede;
  
  --day-base-color: #90bdf7;
  --day-font-color: #3d3838;

  --wth-very-cold-color: #c4dcfc;
  --wth-cold-color: #64a7ff;
  --wth-normal-color: #1168da;
  --wth-hot-color: #dcf5ae;
  --wth-very-hot-color: #eeb61d;
  --wth-sun-color: #fa6464;
}

@keyframes blink
{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
 
body
{
  -webkit-transition:  all 1.5s ease;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  font: normal 27px/2 medium;
  transition: all 1.5s ease;

  background-size: cover;
  background-attachment: fixed;
}

.details{
  font-size: 18px;
}

.FirstHeader
{
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.DemonstrationForm 
{
  text-align: center;
}

.DemonstrationSlider
{
  width: 40%;
}

.DemonstrationResume
{
  text-align: center;
}

.DemonstrationLine > p
{
  display: inline;
}

/* -------------- Background Easter Egg-------------- */
.Star
{
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: yellow;
  border-radius: 50%;
  animation: blink 5s infinite alternate;
}

.SearchCity{
  width: 81%;
}

.SearchCity button{
  width: 100%;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  font-size: 3vw;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-bottom: -5px;
}

.SearchCity button:hover{
  background-color: #ffffff;
  color: black;
}

.CenterMeteo {
  display: flex; /* Use flexbox to center items */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh;
}

.SearchBar {
  margin-top: 3rem;
  text-align: center;
  width: 80%;
  font-size: 3vw;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 100px;
}

/* -------------- Flex -------------- */

.DivFlex{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.WeatherInfos {
  width: 40%;
}

.WeatherInfosDiv {
  align-items: center; /* Vertically center */
  display: flex;
  height: 65px;
}

.WeatherInfosDiv p:nth-child(1) {
  width: 50%;
  margin-right: auto; /* Push to the left */
  line-height: 25px;
}

.WeatherInfosDiv p:nth-child(2) {
  width: fit-content;
  margin: 0 auto; /* Center horizontally */
}

.WeatherInfosDiv input {
  width: 30%;
  margin-left: auto; /* Push to the right */
}


.RightWeather{
  flex: 1; /* Take up remaining space */ 
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.LeftWeather{
flex: 1; /* Take up remaining space */
}

/*  -------------- END Flex -------------- */

/* When the screen is smaller than 700px wide */ 
@media screen and (max-width: 1200px) {
  body{
    font-size: 1.8vw !important;
  }

  .details{
    font-size: 1vw;
  }
  
  .middle-top-text, .middle-bottom-text, .middle-left-text, .middle-right-text {
    padding: 0% 6% 0% 6% !important;
  }
}