.DivTermometer {
    position: relative;
    height: 4.5vw;
    width: 18vw;
    background-color: transparent;
    border: 2px solid #dedede;
    border-radius: 10px;
    margin-left: auto;
}

.DivtermometerInside {
    transition-duration: 600ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    bottom: -1px;
    /* Place la div interne en bas de la div externe */
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 26%;
    height: 100%;
}

.DivtermometerData {
    width: 95%;
    height: 5%;
    margin-top: 15%;
    margin-bottom: 3%;
}

.DivtermometerData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TermometerMin,
.TermometerActual,
.TermometerMax {
    flex: 1;
}

.TermometerActual {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
    background-color: #4158D0;
    background-image: linear-gradient(0deg, #76A9E1 0%, #DAB43E 46%, #BF2929 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.TermometerMax {
    text-align: right;
}

.bubble {
    animation-delay: calc(var(--d) * 1s);
    animation-duration: calc(var(--a) * 1s);
    animation-iteration-count: infinite;
    animation-name: bubble;
    animation-timing-function: linear;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    display: list-item;
    z-index: -1;
    position: absolute;
  }
  
  .bubble path {
    fill: #a1c6cc;
    opacity: var(--o);
    transform: scaleY(calc(var(--s) * 1.5));
  }
  
  @keyframes bubble {
    0% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(145px);
    }
  }

.container {
    height: 26%;
    width: 70%;
    background-color: #ffffff;
    border: 2px solid #dedede;
    border-radius: 10px;
}
  
.glass {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 100%;
}
  
.water {
    background-image: url("https://priteshgupta.com/demos/fill/waves.png");
    background-position: top right;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 45px;
    border-radius: 100%;
    animation-name: water;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@keyframes water {
    0% {
        background-position: top right;
        -webkit-transition: all 3s ease-out;
        -moz-transition: all 3s ease-out;
        -o-transition: all 3s ease-out;
        transition: all 3s ease-out;
    }
    100% {
        background-position: top left;
        -webkit-transition: all 3s ease-out;
        -moz-transition: all 3s ease-out;
        -o-transition: all 3s ease-out;
        transition: all 3s ease-out;
    }
  }
  
.glass:hover .water {
    background-position: top left;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
}
  
.waterNum{
    position: absolute;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 257px;
    width: 180px;
}

.Map
{
    width: 96%;
    height: 96%;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 2%;
    border: 2px solid #2c0b8e;
}


/*  -------------- Compass -------------- */
.svg-container {
    width: 85%; /* Make the container responsive by setting its width to 100% */
    max-width: 300px; /* Optionally, you can set a maximum width to control the size */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    justify-content: center;
  }
  
  .responsive-svg {
    width: 65%; /* Make the SVG element responsive */
    height: auto; /* Allow the height to adjust proportionally */
  }
  

/*  -------------- Compass -------------- */
.VitesseVent{
    position: absolute;
    top: 75px;
    left: 30px;
    font-size: 23px;
}

.circle {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    width: 65%;
    height: 65%;
}

.quarter {
    width: 40%;
    height: 40%;
    border: 1px solid #ffffff;
    position: absolute;
}

.little-quarter {
    width: 26%;
    height: 26%;
    border: 2px solid #ffffff;
    position: absolute;
}

.quarter-top-left {
    top: 0;
    left: 0;
    border-top-left-radius: 150%;
    border-bottom: 0;
    border-right: 0;
}

.quarter-top-right {
    top: 0;
    right: 0;
    border-top-right-radius: 150%;
    border-bottom: 0;
    border-left: 0;
}

.quarter-bottom-left {
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 150%;
    border-top: 0;
    border-right: 0;
}

.quarter-bottom-right {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 150%;
    border-top: 0;
    border-left: 0;
}

.little-quarter-top-left {
    top: 24%;
    left: 24%;
    border-top-left-radius: 150%;
    border-bottom: 0;
    border-right: 0;
}

.little-quarter-top-right {
    top: 24%;
    right: 24%;
    border-top-right-radius: 150%;
    border-bottom: 0;
    border-left: 0;
}

.little-quarter-bottom-left {
    bottom: 24%;
    left: 24%;
    border-bottom-left-radius: 150%;
    border-top: 0;
    border-right: 0;
}

.little-quarter-bottom-right {
    bottom: 24%;
    right: 24%;
    border-bottom-right-radius: 150%;
    border-top: 0;
    border-left: 0;
}

.middle-top-text,
.middle-bottom-text,
.middle-left-text,
.middle-right-text {
    padding: 0% 6% 0% 6%;
}

.middle-top-text {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.middle-bottom-text {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.middle-left-text {
    position: absolute;
    top: 50%;
    left: -14%;
    transform: translateY(-50%);
}

.middle-right-text {
    position: absolute;
    top: 50%;
    right: -14%;
    transform: translateY(-50%);
}

.Arrow {
    transition-duration: 1000ms;
    transition-timing-function: ease;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.triangle {
    stroke: white;
    stroke-width: 3;
    fill: #2c0b8e;
}
  
@media screen and (max-width: 800px) {
  .circle p{
    font-size: 5vw;
  }
  
  .circle {
    height: 25vw;
    width: 25vw;
    margin-top: 13%;
  }
}

/*  -------------- END Compass -------------- */

.leaflet-touch .leaflet-bar a {
    width: 4.8vw !important;
    height: 4.8vw !important;
    line-height: 4.9vw !important;
  }

  .leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 1.5vw !important;
  }
  .leaflet-bar a{
    border-radius: 100px !important;
    background: #ffffff !important;
    color: #2c0b8e !important;
    border: 2.8px solid #2c0b8e !important;
    transition: transform 2s ease;
    margin-bottom: 10%;
  }
  .leaflet-bar a:hover {
    background: #2c0b8e !important;
    color: white !important;
  }

  .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none !important;
  }

  .leaflet-control-attribution{
    width: 100% !important;
    background: #fff !important;
    font-size: 0.7vw !important;
    white-space: nowrap;
  }

  .leaflet-container {
    font: 1vw/1.5 "Arial", Arial, Helvetica, sans-serif !important;
  }
  
  .leaflet-control-attribution, .leaflet-control-scale-line {
    padding: 0 5px !important;
    display: flex !important;
  }